.contactInfo {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 30px;
  position: relative;
  border: 1px solid grey;
  box-shadow: 0 0 5px grey;
  &:hover {
    background-color: #eee;
  }
  & :last-child {
    margin-left: auto;
  }
}

.contactWithBirthdayToday {
  box-shadow: 0 0 5px red;
}

.reminder {
  position: absolute;
  top: 100%;
  right: 0;
  padding: 2px;
  color: red;
}
